@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  box-sizing: border-box;
  background-color: #E6E6E6;
  
}
*, *::before, *::after {
  box-sizing: inherit;
  
}

body {
  margin: 0 auto;
  background-color: #fff;
  max-width: 1440px;
 
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  
  max-width: 941px;
  margin: 0 auto;
}


.header {
  
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 100%;
  margin: 0 auto;
}

.elements{
  padding-top: 41px;
  padding-bottom: 71px;
}
.img_header {
  margin: 0 auto;
  cursor: pointer;
  
}

.h1-text {
  margin-top: 317px;
  font-family: 'BebasNeueBold';
  font-size: 60px;
  line-height: 70px;
  
  text-align: center;
  letter-spacing: 5.70937px;
  color: white;
  justify-content: center;

}
.h2-header {
  margin-top: 21px;
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 19px;
  
  text-align: center;
  color: white;
  justify-content: center;
}
.h3-header {
  margin-top: 221px;
  justify-content: center;
  font-family: 'OpenSans';
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 3.7px;
  color: white;
}





.navbar {
  margin: 0auto;
  max-width: 1440px;
  padding-top: 0px;
  border: 1px solid #E6E6E6;
  background-color: white;
}
.elements-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}
.img-navbar {
  margin-bottom: 23px;
  margin-top: 25px;
  cursor: pointer;
}
.navbar-ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;

}
.item-navbar_1 {
  margin-right: 38px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 1.09091px;
}
.item-navbar_1:last-child{
  margin-right: 0px;
}
.item-navbar_1:hover{
  transition: 0.2s linear;
  color: #00A4E5;
}



.about {
  padding-top: 58px;
  
}
.h1-about {
  font-family: 'OpenSans';
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 2.30625px;
  color: #48555B;
}
.line {
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
  margin: 0 auto;
  margin-top: 10px;
}
.h2-about {
  margin-top: 80px;
  font-family: 'OpenSans';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
  max-width: 405px;
}
.h2-span {
  color: #00A4E5;
  cursor: pointer;
}
.p-about {
  max-width: 405px;
  font-family: 'OpenSans';
  font-size: 13px;
  line-height: 23px;
  color: #48555B;
  margin-top: 30px;
}
.grid-about {

}
.grid-about_element {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  cursor: pointer;
}
.img-about {
  max-width: 100%;
}
.elements-about {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.about-element-h {
  display: block;
}
.img-about:hover {
  transition: 0.2s linear;
  transform: scale(1.09);
  
}



.services {
  padding-top: 118px;
}
.all-services-title {
  display: flex;
  justify-content: space-between;
}
.our-capabilities {
  display: block;
}
.h1-services {
  font-family: 'OpenSans';
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.30625px;
  color: #48555B;
  margin-bottom: 10px;
}
.line-services {
  border: 1px solid #00A4E5;
  width: 50px;
  height: 2px;


}
.services-p {
  max-width: 405px;
  font-family: 'OpenSans';
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #48555B;

}
.all-services_btn {
  
  background-color: #00A4E5;
  color: #fff;
  text-transform: uppercase;
  font-family: 'OpenSans';
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 11px 29px 11px 29px;
  border: 0px solid;
  cursor: pointer;
}
.all-services_btn:hover {
  transition: 0.2s linear;
  background-color: #fff;
  color: #00A4E5;
}

.grid-services {
  margin-top: 76px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.element-grid_serv {
  display: block;
  padding-top: 38px;
  padding-bottom: 39px;
  padding-left: 23px;
  padding-right: 5px;
  border: 1px solid #E6E6E6;
  cursor: pointer;
}
.grid_serv-img {
  width: 65.62px;
  height: 75px;
  margin-bottom: 25px;
}
.h2-serv_grid {
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.43px;
  color: #48555B;
  margin-bottom: 13px;
  
 
}
.p-grid_serv {
  font-family: 'OpenSans';
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
}

.element-grid_serv:hover {
  transition: 0.2s linear;
  transform: scale(1.05);
}



.get-in-touch {
  min-height: 700px;
  
  padding-top: 115px;
  background-image: url(../img/bg_get.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  padding-bottom: 0px;

}
.elem-get_in {
  display: block;
  
}
.h1-get-in {
  font-family: 'OpenSans';
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #48555B;
  padding-top: 120px;
}
.h2-get-in {
  font-family: 'OpenSans';
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #48555B;
  padding-bottom: 35px;
}
.get-in_btn {
  background-color: #00A4E5;
  color: #fff;
  text-transform: uppercase;
  font-family: 'OpenSans';
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 11px 29px 11px 29px;
  border: 0px solid;
  cursor: pointer; 
  margin: 0 auto;
  display: block;
  
  
  
}

.get-in_btn:hover{
  transition: 0.2s linear;
  background-color: #fff;
  color: #00A4E5;
}



.newsletter {
  background-image: url(../img/bgnews.png);
  margin: 0;
  padding: 0;
}
.elem-news {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.news-h1 {
  font-family: 'OpenSans';
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  letter-spacing: 0.9px;
}
.email-news_btn {
  margin-left: 70px;
  position: relative;
  
}
.input-news {
  padding: 10px 98px 10px 16px;
  border: none;
  outline: none;

}
.button-news {
  background-color: #00A4E5;
  color: #fff;
  text-transform: uppercase;
  font-family: 'OpenSans';
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  cursor: pointer;
  border: none;
  position: absolute;
  
}
.button-news:hover{
  transition: 0.2s linear;
  background-color: #fff;
  color: #00A4E5;
  padding-bottom: 10px;
  
}



.footer {
  background-color: #141A20;
}
.grid_footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}
.grid-footer_elem {
  max-width: 250px;
}
.h1-footer {
  padding-top: 42px;
  font-family: 'OpenSans';
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.846154px;
  color:#fff;
  margin-bottom: 15px;
}
.h1-footer_c {
  padding-top: 42px;
  font-family: 'OpenSans';
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.846154px;
  color: #fff;
  margin-bottom: 10px;
}
.img-footer_grid {
  margin-bottom: 25px;
  cursor: pointer;
}
.footer_grid {
  font-family: 'OpenSans';
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  color: #E6E6E6;
  
}
.footer_grid_1 {
  font-family: 'OpenSans';
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  color: #E6E6E6;
  min-width: 200px;
}
.footer_grid_c{
  font-family: 'OpenSans';
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  color: #E6E6E6;
  margin-top: 10px;
}
.grid_links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.grid-links_elem {
  font-family: 'OpenSans';
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 0.846154px;
  color: #E6E6E6;
  text-transform: uppercase;
  margin-left: -40px;
  margin-top: -15px;
}
.ul-footer {
  text-decoration: none;
  list-style: none;
}
.li-footer {
  
}
.sites-footer {
  display: flex;
  padding-top: 72px;
  justify-content: space-between;
  
}
.site {
  cursor: pointer;
}
.konstruct {
  background-image: url(../img/bgfooter.png);

}
.konstruct-foot {
  font-family: 'OpenSans', sans-serif;
  font-weight:100;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.846154px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 22px;
  padding-bottom: 23px;
}

.li-footer:hover{
  transition: 0.2s linear;
  color: #00A4E5;
  cursor: pointer;
}



/*media*/

@media screen and (max-width: 1000px){
  .h1-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .elements-navbar{
    padding-left: 15px;
    padding-right: 15px;
  }
  .elements-about{
    padding-right: 15px;
    padding-left: 15px;
    display: block;
  }
  .h2-about {
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
  }
  .p-about{
    padding-bottom: 20px;
    margin: 0 auto;
    padding-top: 20px;
  }
  .grid-about_element{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    
  }
  .all-services-title{
    padding-left: 15px;
    padding-right: 15px;
  }
  .grid-services {
    padding-left: 15px;
    padding-right: 15px;
  }
  .grid_footer{
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    
  }
  
  .sites-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
}

@media screen and (max-width: 768px){
  .elem-news {
    padding-left: 15px;
    padding-right: 15px;
  }
  .elements-navbar{
    display: block;
  }
  .navbar-ul{
    margin-left: -35px;
  }
  .grid-services{
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
  }
  .all-services-title{
    display: block;
    
  }
  .services-p{
    margin-top: 15px;
    
  }
  .all-services_btn{
    margin-top: 10px;
  }
  .grid-about_element{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .elem-news{
    display: block;
  }
  .email-news_btn{
    margin-left: 0;
    display: block;
    margin-top: 30px;
  }
  .button-news{
    position: relative;
    margin-top: 10px;
  }
  .grid_footer{
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20px;
  }
}